#!/usr/bin/env zsh

# basic configration {{

    # use open command open file way{
        alias -s rb=vi
        alias -s erb=vi
        alias -s sh=vi
        alias -s js=vi
        alias -s java=vi
        alias -s txt=vi
    # }

    # cp, rm, tar etc {

        alias vi=vim
        alias bz2='tar -jcpv -f'
        alias unbz2='tar -jxt -f'
        alias viewbz2='tar -jtv -f'

        alias ze='vi ~/.zshrc'
        alias ve='vi ~/.vimrc'
        alias veb='vi ~/.vimrc.bundles'
    #}

#}}

#  look/check-out files informations {

    # look {

        # Show human friendly numbers and colors
        alias df='df -h'
        alias du='du -h -d 2'
        alias diff='diff -qr'

        # PS
        alias psa="ps aux"
        alias psg="ps aux | grep"
        alias psa="ps aux| ack"

        alias k9="kill -9"

        alias lsof_show_listen_port="lsof -i TCP -s TCP:LISTEN -n -P"

    #}

    #find information in files {
        alias grep='grep --color=auto'
        alias fgrep='fgrep --color=auto'
        alias egrep='egrep --color=auto'

    #}

    # git {
        alias gref="git reflog --pretty=format:\"%h : %an > %ar : %s\""
    # }

#}

# interesting things {

    #play {

        # Get week number
        alias week='date +%V'

        alias timer='echo "Timer started. Stop with Ctrl-D." && date && time cat && date'
        # IP addresses
        alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
        alias localip="ipconfig getifaddr en0"
        alias ips="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"

        # Recursively delete `.DS_Store` files
        alias cleanup="find . -type f -name '*.DS_Store' -ls -delete"

        # Empty the Trash on all mounted volumes and the main HDD.
        alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; sudo rm -rfv ~/.Trash; sudo rm -rfv /private/var/log/asl/*.asl; sqlite3 ~/Library/Preferences/com.apple.LaunchServices.QuarantineEventsV* 'delete from LSQuarantineEvent'"
    #}
